* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    min-width: 320px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    border-bottom-left-radius: 50px;
}

.header h1 {
    /* use display: inline-block it allows to set width and height if needed */
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* nav bar floated right */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* effect all a tags in html */
a {
    color: #ffffff;
    text-decoration: none;
}

/* effect all p tags in html */
p {
    font-size: 16px;
}
/* this is the main pic on the site */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 50px;
}

/* general classes can be used on different tags! */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* fist article in main */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* second article in main on the right */
.benefits {
    margin-right: 20px;
    padding: 20px;
    /* this not allows the element to float on both siedes. It also indicates that no other element takes up space on the left and right side */
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    /* just add some border for fun for this practice */
    border-bottom-left-radius: 50px;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit .benefit-title {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* article elements on the left */
.content-element {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border-bottom-left-radius: 50px;
}

.content-element img {
    max-height: 200px;
    border-bottom-left-radius: 50px;
}

.content-element h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
